# Database variables
DB_HOST = localhost
DB_NAME = your_db_name
DB_USER = your_db_user
DB_PASS = your_db_password
DB_PORT = 5432

# Export variables
EXPORT_OUTPUT_DIR = ""

# Upload variables
R2_ACCOUNT_ID = your_R2_account_id
R2_BUCKET_NAME = your_R2_bucket_name
R2_ACCESS_KEY_ID = your_R2_access_key_id
R2_SECRET_ACCESS_KEY = your_R2_secret_access_key